{% extends "layouts/layout1.html" %}
{% block title %}
Klasifikace hudebního žánru
{% endblock %}
{% block content %}
    <!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Klasifikace hudebního žánru</span>
                    <hr class="star-light">
                    <span class="skills">Projekt VMM</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Vyberte soubor</h2>
                <hr class="star-primary">
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="row alert alert-danger text-center">
            <ul class="flashes ">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-sm-1 portfolio-item"> </div>
            <div class="col-sm-10 portfolio-item text-center">
                <form action="" method=post enctype=multipart/form-data style="margin:0 auto;">
                    <label class="btn btn-default btn-file "> <input type=file name=file> </label>
                    <p></p>  
                    <input class="btn btn-default btn-file" type=submit value=Nahrát >
                </form>
            </div>
            <div class="col-sm-1 portfolio-item"></div>


            </div>
        </div>
    </div>
</section>
{% endblock %}